@charset "UTF-8";

/* 레이아웃 */
#header {width: 100%; height: 70px; border-bottom: 1px solid #c6c6c6; background-color: white; position: fixed; z-index: 9999; clear: both;}
#award_banner {width: 100%; height: 160px; background: #D4F4FA;}
#developer {width: 100%; height: 980px; background: #F6F6F6;}
#joinMembership {margin: 0 auto;}
#footer {clear: both; padding: 10px 0 15px 0; text-align: center;}

/* 가운데 영역 */
.container {position: relative; width: 1280px; margin: 0 auto;}

/* 로우 영역 */

/* 헤더 영역 */
.header h1 {float: left;}
.header h1 em {padding: 12px 8px 3px 0; display: inline-block;}
.header h1 em img {width: 200px;}
.header .info_div {position: absolute; font-size: 22px; font-weight: 700; color: #444; border: 1px solid #000; padding: 5px 9px; left: 45%; top: 20%;}
.header .nav {float: right;}
.header .nav ul li {float: left;}
.header .nav ul li a {display: block; padding: 19px 12px; font-size: 20px; font-weight: 700; color: #444;}

/* 푸터 영역 */
.footer_info {padding: 20px 0 5px; width: 80%; margin: 0 auto; font-size: 14px;}
.footer_info ul {padding: 15px 0 5px;}
.footer_info li {position: relative; display: inline; padding-right: 10px; white-space: nowrap;}
.footer_info li:after {content: ''; position: absolute; right: 5px; top: 5px; width: 1px; height: 11px; background: #8f8f8f;}
.footer_info li:last-child:after {width: 0; height: 0;}
.footer_infor address p {color: #8f8f8f; padding-bottom: 15px;}

/* 체크 박스 */
.checkboxContainer input {display: none;}
.checkboxContainer {display: inline-block; padding-left: 30px; position: relative; cursor: pointer; font-size: 13px; user-select: none;}
.checkboxContainer .checkmark {display: inline-block; width: 18px; height: 18px; background: #eee; position: absolute; left: 0; top: 0; border-radius: 3px;}
.checkboxContainer input:checked + .checkmark {background-color: #2196fc;}
.checkboxContainer:hover .checkmark {background-color: #ccc;}
/* .checkboxContainer input:checked + .checkmark:atfer {
  content: ""; position: absolute; height: 4px; width: 9px; border-left: 2px solid white; border-bottom: 2px solid white;
  top: 45%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg);} */

/* 메인 페이지 */
/*  콘텐츠 영역 */

/* 로그인 페이지 */
.login_title h1 {text-align: center; font-size: 60px; margin-top: 50px; font-family: 'Luckiest Guy', cursive;}
.login .wrapper {width: 500px; height: 300px; color: #000; top: 50%; left: 50%; position: absolute;
  transform: translate(-50%, -50%); box-sizing: border-box; margin-top: 15%; border-bottom: 1px solid #CFCFCF;}
.login .wrapper input {width: 100%; margin-bottom: 25px;}
.login .wrapper input[type=text], .login .wrapper input[type=password] {
  border: none; outline: none; border: 1px solid #c8c8c8; background: transparent; height: 50px; font-size: 18px; opacity: 1;
  color: #000; background-color: #fff;}
.login .wrapper input[type=submit] {border: none; outline: none; height: 60px; background: #80deea; color: #000; font-size: 20px;}
.login .wrapper input[type=submit]:hover {cursor: pointer;}
.login .wrapper a {font-size: 14px; text-decoration: none; color: #000; opacity: 0.8;}
.login .bottom-text input {width: 10%; float: left; font-size: 16px;}
.login .bottom-text a {float: right;}
.login .advertisement {width: 100%; height: 140px; background-color: #d96b6c; margin-top: 80px; font-family: 'Nanum Pen Script', cursive;}
.login .advertisement a {color: #fff; text-align: center;}
.login .info_ad a h1 {font-size: 34px;}
.login .info_ad a h2 {font-size: 24px;}

/* 회원가입 페이지 */
label {cursor: default;}
.joinBox {width: 510px; margin: 0 auto;}
.join_title {margin: 22px 0 8px; font-size: 18px; font-weight: 500;}
.jm_box {display: block; position: relative; width: 100%; height: 55px; border: 1px solid #c8c8c8;
  padding: 10px 14px 10px 14px; box-sizing: border-box; background: #fff; vertical-align: top;}
.jm_box .int_user {padding-right: 110px;}
.join_row .int {display: block; position: relative; width: 100%; height: 32px; line-height: 32px;
  border: none; background: #fff; font-size: 18px; box-sizing: border-box; z-index: 10;}
.join_row .major_code {display: block; width: 100%;box-sizing: border-box;}
.join_row .major {width: 100%; height: 32px; font-size: 16px; line-height: 20px; color: #000; border: none;}
.joinBox input[type=submit] {border: none; outline: none; width: 100%; height: 55px;
  background: #80deea; color: #000; font-size: 20px; margin: 30px 0 20px; cursor: pointer;}

/* 개발자 소개 페이지 */
.award_info {padding-top: 70px; text-align: center;}
.award h1 {font-size: 26px; font-family: 'Jua', sans-serif; margin-top: 30px;}
.developer_info h2 {font-size: 36px; text-align: center; margin: 0 auto; margin-bottom: 40px; margin-top: -25px; padding-top: 25px; color: #000;}
.developer_info {display: block; width: 1050px; height: 60px; margin: 0 auto; margin-top: 120px; margin-bottom: 60px;}
.developer_chart {height: 592px; text-align: center;}
.developer_chart .chart_cont {display: inline-block; margin-top: 40px;}
.developer_chart > div {overflow: hidden;}
.developer_chart > div > div {float: left; width: 292px; height: 442px; margin-right: 18px;}
.developer_chart > div > div:last-child {margin-right: 0;}
.developer_chart > div > div .poster {position: relative;}
.developer_chart > div > div .poster img {display: block; width: 292px; height: 292px;}
.developer_chart > div > div .infor {background: #fff; padding: 14px; border: 1px solid #d9d9d9; height: 65px;}
.developer_chart > div > div .infor h3 {color: #333; font-size: 26px; font-weight: 700; margin-bottom: 8px;}
.developer_chart > div > div .infor p {color: #333; font-size: 15px; font-weight: 400; margin-bottom: 10px;}
.developer_chart > div > div .infor h3 span {width: 29px; height: 29px; display: inline-block; margin-top: 9px; vertical-align: -2px;}
